/* Common Style Start Here  */
body{
    width: 96%;
    max-width: 1020px;
    margin: 0 auto;
    color: #363636;
    font-size: 20px;
}

/* Header Area Style Start Here  */

.header_area{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.header_area h1{
    text-align: center;
    font-size: 48px;
}
.header_area img{
    display: flex;
    width: 40px;
    height: 40px;
    margin-left: 10px;  
}

/* Main Area  Style Strat Area  */

.main_section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
}
.input_area{
    text-align: center;
}
h4, h3{
    margin: 8px;
}
.img_area img{
width: 100%;
max-width: 90%;
height: auto;
border: 1px solid #ddd; 
border-radius: 4px;  
padding: 5px;
}
.input_area input{
    margin-bottom: 15px;
    height: 30px;
    border: none;
    background-color: #dadada;
    font-size: 18px;
    padding-left: 10px;
    outline: none;
    color: #363636;
}
.input_area button{
    border: none;
    outline: none;
    background-color: #ff7f11;
    padding: 10px 30px;
    color: #fff;
    font-size: 18px;
}
.saving{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    justify-items: center;
}
.saving input{
    width: 100px;
    height: 40px;
}

/* Erro Massage Style Start Here */
.error_msg{
   position: absolute;
   content: "";
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.warning_style{
    background-color: #fc3d03;
    width: 50vh;
    text-align: center;
    padding: 20px;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 10px;
    display: none;
    cursor: pointer;
}
.btn_style{
    background-color: #dadada;
    padding: 5px 12px;
    font-size: 16px;
    color: #000;
}



/* Responsive Area Start Here  */

@media only screen and (max-width: 920px) {
    .main_section{ grid-template-columns: repeat(1, 1fr); text-align: center;}
    .saving{ justify-content: space-evenly;}
  }
@media only screen and (max-width: 725px){
    .main_section{ grid-template-columns: repeat(1, 1fr); text-align: center;}
    .header_area img{ display: none;}
}

